{% extends "base.html" %}
{% block title %}{{ '콘텐츠 수정' if content else '콘텐츠 등록' }}{% endblock %}
{% block actions %}
  <a class="btn" href="{{ url_for('contents.index') }}">← 목록으로</a>
{% endblock %}
{% block body %}
<div class="panel">
  <h2 class="panel-title">{{ '콘텐츠 수정' if content else '콘텐츠 등록' }}
    {% if content %}<span class="mono muted">{{ content['code'] }}</span>{% endif %}
  </h2>
  {% set cancel_url = url_for('contents.index') %}
  {% include "_spec_form.html" %}
</div>
{% endblock %}
